<!DOCTYPE html>
<html lang="it" xmlns:th="http://www.thymeleaf.org">

<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<link
	href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
	rel="stylesheet"
	integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
	crossorigin="anonymous">
<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">

<link href='https://fonts.googleapis.com/css?family=Merienda One'
	rel='stylesheet'>
<link rel="stylesheet" href="/style_AdminGestisciVeicoli.css">
<link rel="stylesheet"
	href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"
	integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A=="
	crossorigin="" />
<!-- Make sure you put this AFTER Leaflet's CSS -->
<script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"
	integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA=="
	crossorigin=""></script>


<title>AggiungiVeicolo</title>
</head>
<body>

	<div class="container my-3">
		<script th:replace="/header"></script>

		<!--<div class="separatore"></div>

            PROVA 2 COLONNE-->

		<div class="container my-4">
			<script th:replace="/adminTabs"></script>

			<!--  <div class="separatore"></div>-->

			<div class="container">
				<h2 class="mt-md-0 mb-4" th:if="${veicolo.Id_veicolo == 0}">Inserisci
					un nuovo veicolo</h2>
				<h2 class="mt-md-0 mb-4" th:if="${veicolo.Id_veicolo > 0}">Modifica
					il veicolo</h2>
				<p th:if="${veicolo.Id_veicolo > 0}"
					th:text="'ID = ' + ${veicolo.Id_veicolo} " />

				<!--   <div class="separatore"></div>-->

				<!--    <div class="main my-3">-->

				<form th:action="@{/admin/veicoli/aggiungi}" method="post"
					enctype="multipart/form-data" class="row g-3 ">

					<input type="number" name="id_veicolo"
						th:value="${veicolo.id_veicolo}" id="id_veicolo" hidden="hidden">
					<input type="number" value="0" th:value="${id_utente}"
						name="id_utente" id="id_utente" hidden="hidden">
					<div class="col-md-12">
						<label>Modello</label> <input type="text" name="modello"
							th:value="${veicolo.modello}" id="modello" class="form-control">
					</div>
					<div class="col-md-12">
						<!--cambiare innput con tag textarea-->
						<label>Descrizione</label>
						<textarea name="descrizione" th:value="${veicolo.descrizione}" th:field="${veicolo.descrizione}"
							id="descrizione" class="form-control"></textarea>
					</div>
					<div class="col-md-6">
						<div class="input-group mb-3">
							<label class="input-group-text" for="inputGroupSelect01">Tipologia</label>
							<select name="tipologia" id="tipologia" class="form-select">
								<option th:each="tipologia : ${tipologie}"
									th:value="${tipologia}" th:text="${tipologia}"
									th:selected="${tipologia == veicolo.tipologia}"></option>
							</select>
						</div>

					</div>
					<div class="col-md-6 ">
						<div class="input-group mb-3">
							<label class="input-group-text" for="inputGroupSelect01">Alimentazione</label>
							<select name="alimentazione" id="alimentazione"
								class="form-select">
								<option th:each="alimentazione : ${alimentazioni}"
									th:value="${alimentazione}" th:text="${alimentazione}"
									th:selected="${alimentazione == veicolo.alimentazione}"></option>
							</select>
						</div>
					</div>
					<div class="col-md-6 form-check">
						<label for="disponibilita">Disponibilità</label> <input
							type="checkbox" th:checked="${veicolo.disponibilita}"
							name="disponibilita" id="disponibilita" class="form-check-input "
							placeholder="Disponibilità">
					</div>
					<div class="col-md-6">
						<label>Quantità da inserire</label> <input type="number" value="1"
							name="quantita" id="quantita" class="form-control">
					</div>
					<div class="col-md-6">
						<div class="input-group mb-3">
							<div>
								<label>Immagine</label> <br>
								<div class="input-group mb-3">

									<input type="file" class="form-control" id="main" name="main" >
								</div>
								<img class="img-fluid"
									th:src="${veicolo.immagine}+ '/main.jpeg'"
									th:if="${veicolo.Id_veicolo > 0}" style="height: 300px">
							</div>
						</div>
					</div>
					<div class="col-md-6">
						<label>Posizione</label> <br>
						<div class="col-md-12">
							<div class="input-group mb-3">
								<input type="search" id="posizione" name="posizione" class="form-control" th:value="${veicolo.posizione}">
								<button class="btn btn-outline-secondary" id="pulsante"
									type="button" style="color: white; background-color: #009EE3;"
									onclick="cerca()">Inserisci</button>
							</div>
							<div id="mapid" style="height: 300px;"></div>
						</div>
					</div>
					<button type="submit" class="btn btn-lg"
						style="color: white; background-color: #009EE3;">Invia</button>
				</form>
			</div>
			<!--     Leaflet -->
			<script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"
				integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA=="
				crossorigin="">
    </script>
			<script type="text/javascript">
	
//	Centrare mappa sulla posizione utente---------------------------------------------------------------------------------
//		ATTENZIONE
//		chrome://flags/
//			Allow invalid certificates for resources loaded from localhost.
//			Insecure origins treated as secure
//	necessari per la geolocalizzazione
//	disattivare dopo la presentazione!!

	var latitudine;
    var longitudine;
    var mymap;
	if(navigator.geolocation){
		navigator.geolocation.getCurrentPosition(showPosition);
	}
    function showPosition(position){
    	console.log(position);
        latitudine = position.coords.latitude;
        longitudine = position.coords.longitude;
        mymap = L
        .map('mapid')
        .setView([latitudine, longitudine], 13);
        L.tileLayer(
                'https://api.mapbox.com/styles/v1/{id}/tiles/{z}/{x}/{y}?access_token={accessTo' +
                        'ken}',
                {
                    attribution: 'Map data &copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMa' +
                            'p</a> contributors, Imagery © <a href="https://www.mapbox.com/">Mapbox</a>',
                    maxZoom: 18,
                    id: 'mapbox/streets-v11',
                    tileSize: 512,
                    zoomOffset: -1,
                    accessToken: 'pk.eyJ1IjoiY2lnbGllcnMiLCJhIjoiY2tybms3Y3prMG1rODJucnE4NWVxcWloNiJ9.eRFXIAo1z2' +
                            'bXBGegMd-7aA'
                }
            )
            .addTo(mymap);
    }
//----------------------------------------------------------------------------------------------------------------------------
			var puntatore = 0;
			function cerca()
			{
			console.log("qua");
			
				if (puntatore != 0) {
					   mymap.removeLayer(puntatore);
					}
			 var inp = document.getElementById("posizione");
			 console.log(inp.value);
			 var xmlhttp = new XMLHttpRequest();
			 var url = "https://nominatim.openstreetmap.org/search?format=json&limit=3&q=" + inp.value;
			 xmlhttp.onreadystatechange = function()
			 {
			   if (this.readyState == 4 && this.status == 200)
			   {
			    var risposta = JSON.parse(this.responseText);
			    console.log(risposta);
			    console.log(risposta[0].lat);
			    console.log(risposta[0].lon);
				var greenIcon = new L.Icon({
		        	  iconUrl: 'https://raw.githubusercontent.com/pointhi/leaflet-color-markers/master/img/marker-icon-2x-blue.png',
		        	  shadowUrl: 'https://cdnjs.cloudflare.com/ajax/libs/leaflet/0.7.7/images/marker-shadow.png',
		        	  iconSize: [25, 41],
		        	  iconAnchor: [12, 41],
		        	  popupAnchor: [1, -34],
		        	  shadowSize: [41, 41]
		        	});
				puntatore = L.marker([risposta[0].lat, risposta[0].lon], {icon: greenIcon}).addTo(mymap);
				mymap.addLayer(puntatore);
				mymap.flyTo([risposta[0].lat, risposta[0].lon]);
			   }
			 };
			 xmlhttp.open("GET", url, true);
			 xmlhttp.send();
			}
			
        function filtra() {
            var selectTipologia = document.getElementById("tipologia");
            var selectAlimentazione = document.getElementById("alimentazione");
        	fetch("/api/filtro/" + tipologia.value).then(j=>j.json()).then(alimentazioni => {
        		pulisci(selectAlimentazione);
	        	selectAlimentazione.options.add(new Option("Qualsiasi", "all"));
	        	alimentazioni.forEach((alimentazione) =>{
	        		selectAlimentazione.options.add(new Option(alimentazione, alimentazione));
	        	})
        	});
        }
        
        function pulisci(alimentazione){
        	let i = alimentazione.options.length;
        	for(i; i>=0; i--){
        		alimentazione.remove(i);
        	}
        }
        
        window.onload = cerca;
		</script>
</body>
</html>